div:hover{
    border: 2px solid gray;
}
div:nth-of-type(1){
    color: red;
    text-decoration: underline;
}
div:nth-of-type(2){
    color:pink;
    font-style: italic;
}
div:nth-of-type(3){
    color:blueviolet;
    text-decoration: overline;
    font-size: 2em;
}
div:nth-of-type(4){
    color: brown;
    font-style: oblique;
}
div:nth-of-type(5){
    color: yellow;
    text-decoration: line-through;
}
div:nth-child(2n + 1){
    font-style: italic;
}